/* Se colocan estas especificaciones para resetear todos los valores por 
defecto del navegador*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   

/*Fondo de la pagina*/
body{
    display: flex; /*Se utiliza flex para tener una estructura de una sola dimension*/
    justify-content: center;
    font-family: 'Carter One', cursive;
    background-image: url(img/fondo-login-register.webp) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow-x: hidden;
}

/*Titulo UMC Marketplace*/
.title{
    display: block;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 5px;
}

/*Logo de la maritima o de la pagina centrado*/
.logo {
    display: flex;
    justify-content: center;
    padding: 3%;
}

/*Tamaño del logo*/
.imagen {
    width: 250px;
}

/*Titulo con el logo*/
.titulo {
    display: block;
    width: auto;
}

/*Diseño del fondo del formulario de inicio de sesion*/
.formulario  {
    width: 500px;
    min-width: 300px;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: auto;
    border: solid 1px rgb(170, 172, 176);
    box-shadow: 5px 10px 10px;
    background-color: #7692ff;
    margin-top: 3%;
    margin-bottom: 5%;
}

/*Diseño del fondo del texto de bienvenida */
.intro {
    display: block;
}

/*Diseño del texto de bienvenida*/
.intro .texto {
    display: block;
    margin-top:.2% ;
    font-size: 1.3rem;   
}

/*Diseño del texto en general*/
.texto {
    text-align: center;
    font-weight: 400;
    color: rgb(7, 7, 40);
    margin-bottom: 25px;
}

/*Diseño de los campos de ingreso de datos*/
.formulario .campo {
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color:  #1d214b;
    border: 2px solid #eef6ff;
    border-radius: 2px;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    margin-top: 20px;
}

.formulario input[type="number"] {
    margin-top: 20px;
    margin-bottom: 2px;
}

/*Diseño de las letras que indican el tipo de dato que debe ingresar en los campos*/
::placeholder {
    font-size: 1rem;
    color: rgba(29, 33, 75, .5);
}

/*Cambio de color cuando el cursor este sobre el campo a rellenar*/
.formulario input:hover {
    transition: .05s;
    border: 1px solid #1d214b;
    color: #1d214b;
}

/*botones de inicio de sesion y de registrarse*/
.formulario .boton {
    padding-top: 2px;
    letter-spacing: 3px;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    width: 50%;
    background-color: #e7da4a;
    color: #1d214b;
    border-radius: 10px;
    outline: none;
    transition:all .5s ease;
    border: solid  #575b83 ;
    text-decoration: none;
}

/*cambia de color cuando el cursor pasa sobre el boton*/
.formulario .boton:hover {
    color: #1d214b;
    border: 2px solid #eef6ff;
}

/*Estilo del titulo de registrate*/
.title-registro {
    text-align: center;
    letter-spacing: 5px;
}


/*Estilos del texto de pedir los archivos*/
.text-confirmacion {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.texto-usuario {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

/*Estilos del boton de subir archivos en el registro*/
.boton-subida {
    display: flex;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color:  #1d214b;
    border: 2px solid #eef6ff;
    border-radius: 2px;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    margin-bottom: 8px;
}
input[type="file"] {
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    opacity: 0;
}
.btn-archivo {
    position: absolute;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 5px;
    letter-spacing: 2px;
    padding-left: 100px;
}
.logo-subida {
    margin-right: 10px;
}

/*boton de aceptar las politicas*/
.formulario .form-check {
    margin: auto;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    margin-left: 30px;
    margin-bottom: 10px;

}
label {
    position: absolute;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 5px;
    letter-spacing: 2p
}
.form-check .form-check-input {
    position: relative;
}

/*boton desplegable de politicas*/
.btn-politicas {
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color:  #1d214b;
    border: 2px solid #eef6ff;
    border-radius: 2px;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
}

/*boton de como crear el usuario*/
.btn-usuario{
    font-size: small;
    margin-left: 12%;
    padding: 0px;
}

/*Parrafo de politicas*/
.politicas-parrafo {
    overflow: hidden;
}

/*Estilos el pie de pagina*/
.footer{
    position: relative;
    bottom: 0;
    padding-bottom: 1px;
    width: 100%;
    height: 80px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


























