/* Se colocan estas especificaciones para resetear todos los valores por 
defecto del navegador*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Fondo de la pagina*/
body {
    font-family: 'Carter One', cursive;
    background-image: url(img/fondo-proyecto-inicio.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow-x: hidden;
}

/*Estilos del titulo y logo de la barra de navegacion*/
.title-nav {
  padding-left: 10px;
  font-size: x-large;
}
.logo-nav {
  width: 50px;
  height: 50px;
}

/*Estilos de la caja de busqueda y boton de busqueda de la barra de navegacion*/
.busqueda {
  margin-left: auto;
}
.btn-busqueda {
  background-color: #E6DA50;
}
.buscar-logo {
  width: 30px;
  height: 30px;
}


/*Estilos del menu desplegable de la barra de navegacion*/
.icon {
  margin-right: 5px;
}


/*Estilos del titulo y logo de la barra de navegacion*/
.title-nav {
    padding-left: 10px;
    font-size: x-large;
}
.logo-nav {
    width: 50px;
    height: 50px;
}

/*Estilos de la caja de busqueda y boton de busqueda de la barra de navegacion*/
.busqueda {
    margin-left: auto;
}
.btn-busqueda {
    background-color: #E6DA50;
}
.buscar-logo {
    width: 30px;
    height: 30px;
}

/*Estilos del menu desplegable de la barra de navegacion*/
.icon {
    margin-right: 5px;
}

/*estilos para la seccion de escoger un avatar*/
  
  #avatar-section {
    margin-top: 30px;
  }
  #avatar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  .avatar:hover {
    border: 2px solid #007bff;
  }


/*Estilos del sistema de raiting*/
.container .star-widget {
  display: flex;
  flex-direction: row-reverse;
}
.container .star-widget input {
  display: none;
}
.star-widget label {
  font-size: 35px;
  color: #444;
  
  margin-bottom: 5%;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover label {
  color: #fd4;
}
input:checked ~ label {
  color: #fd4;
}
input#rate-5:checked ~ label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
input:checked ~ form {
  display: block;
}

/*redondeo de las esquinas*/
.contenedor {
  border-radius: 20px;
}


.form-group {
  margin-bottom: 5%;
}

.bio {
  margin-top: 5%;
  
}

.nombre-apellido {
  text-align: center;
}

















  /*Estilos el pie de pagina*/
  .footer{
    position: relative;
    bottom: 0;
    padding-bottom: 1px;
    width: 100%;
    height: 80px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }