<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UMC Marketplace</title>

    <!---Libreria Bootstrap--->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    
    <!--link a la pagina de estilos-->
    <link rel="stylesheet" href="<?php base_url();?>style-login-register.css">

</head>

<body>

    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="titulo" >
                <div class="logo">
                    <img class="imagen" src="<?php base_url(); ?>../public/img/logo-umc.png" alt="logo-umc">
                </div>
                <h1 class="title">UMC Marketplace</h1>
            </div>

        
            <div class="intro">
            <p class="texto">
                ¿Vendes productos de forma independiente? <br>
                ¿Realizas servicios y no tienes donde compart1irlos? <br>
                ¡Este es el mejor lugar para ti!
            </p>
            <p class="texto">
                Bienvenido al mercado online especializado para la Universidad 
                Marítima del Caribe. <br> Un espacio donde nuestra comunidad UMCista tiene la
                oportunidad de compartir <br> todo tipo de servicios o productos que tengan en 
                venta! 
            </p>
            
            </div>
        
            <div class="formulario">
                <img src="" alt="" srcset="umc-logo">
                <p class="texto">¿Tienes una cuenta?</p>

                <form class="login-form">

                    <input type="text" placeholder="Email o nombre de usuario">
                    <input type="password" placeholder="Contraseña">
                    <a href="http://localhost/Proyecto-Uni/public/inicio?">¡Inicia sesión!</a>
                    
                    <p class="texto">¿Aún no estas registrado?</p>
                    <a href="http://localhost/Proyecto-Uni/public/register">¡Regístrate!</a>

                </form>

            </div>

        </div>

    </div>

</body>

</html>